logs/django.log
optimization/__pycache__/urls.cpython-311.pyc
optimization/__pycache__/utils.cpython-311.pyc
optimization/__pycache__/views.cpython-311.pyc
optimization/static/optimization/3d_model_0_0.html
optimization/static/optimization/3d_model_0_1.html
optimization/static/optimization/3d_model_0_2.html
optimization/static/optimization/3d_model_1_0.html
optimization/static/optimization/3d_model_1_1.html
optimization/static/optimization/3d_model_1_2.html
optimization/static/optimization/3d_model_2_0.html
optimization/static/optimization/3d_model_2_1.html
optimization/static/optimization/3d_model_3_0.html
optimization/static/optimization/3d_model_3_1.html
optimization/static/optimization/3d_model_4_0.html
optimization/static/optimization/3d_model_5_0.html
optimization/static/optimization/3d_model_6_0.html
dcd_project/__pycache__/settings.cpython-311.pyc
optimization/__pycache__/urls.cpython-311.pyc
optimization/__pycache__/utils.cpython-311.pyc
optimization/__pycache__/views.cpython-311.pyc
optimization/static/optimization/3d_model_4_1.html
optimization/static/optimization/3d_model_5_1.html
optimization/__pycache__/views.cpython-311.pyc
optimization/__pycache__/utils.cpython-311.pyc
optimization/static/optimization/3d_model_4_1.html
optimization/static/optimization/3d_model_5_1.html
